<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <h1>Welcome to My Blog</h1>

    <ul>
      <% posts.forEach(post => { %>
        <li>
          <a href="/post/<%= post.id %>"><%= post.title %></a>
        </li>
      <% }) %>
    </ul>

    <%- include('partials/footer') %>
  </body>
</html>
